{% extends "base.twig" %}

{% block main %}
    <style>
        .max-width-50 {
            max-width: 50%;
        }
    </style>
    <div class="row">
        <div class="col max-width-50 mx-auto">{{content}}</div>
    </div>
{% endblock %}